<h2>Search Results for <span class="firstCap"><%= artist %></span></h2>

<% for (i=0; i < discogs.length; i++) { %>
    <p>Album Title: <%= discogs[i].title %> </p>
    <p>Release Year: <%= discogs[i].year %></p>
    <p>Genre: <%= discogs[i].genre %></p>

    <form method="POST" action="/favorites">
        <input hidden type= "text" name="artist_name" value="<%= artist %>">
        <input hidden type= "text" name="album_title" value="<%= discogs[i].title %>">
        <input hidden type= "text" name="master_id" value="<%= discogs[i].id %>">
        <button class="" type="submit">Add to Favorites</button>
    </form>
    <img src= "<%=discogs[i].cover_image%>" >

<% } %>