<h2>Search Results for <span class="firstCap"><%= artist %></span></h2>

<% for (let i=0; i < discogs.length; i++) { %>
  <h5><%= discogs[i].title %></h5>
  <p><%= discogs[i].year %></p>
  <p><%= discogs[i].genre %></p>
  <img src= "<%=discogs[i].cover_image%>" >
<% } %>